{% import 'notes.html' as note_ui %}

{% macro note_list(page, notes=None) %}
  <ul data-widget="BaseList"
      lp-prefetch
      data-persistent="true"
      data-visible="true"
      data-route="{{ url_for('pages.get_notes', key=page.urlsafe_key) }}"
      class="{{ styles.note.list.page }}">
    {% if notes is not none %}
      {% for note in notes %}{{ note_ui.note_item(note, "page") }}{% endfor %}
    {% endif %}
  </ul>
{% endmacro %}

{% macro notes_section(page) %}
  <div id="page-notes"
       lp-component
       lp-prefetch
       data-default="BaseList"
       data-persistent="true"
       data-visible="true"
       data-kind="note"
       class="{{ styles.note.section }}">
    {% if page.allowed(Action.EDIT) %}
      {{ note_ui.composer(url_for('pages.create_note', key=page.urlsafe_key), 'page-notes:BaseList', 'page-notes:BaseList', 'page') }}
    {% endif %}
    {{ note_list(page) }}
  </div>
{% endmacro %}
