{% import 'controls.html' as controls %}
{% from "common.html" import generate, attribute_button, explain_prompt %}

{% macro create(attributes) %}
  <form lp-create
        data-widget="CreateProject"
        data-route="{{ url_for('projects.create') }}"
        data-destination="projects:HomeProjectList"
        data-visible="false"
        class="{{ styles.home.form }}">
    <div data-role="header" class="{{ styles.form.header.container }}">
      <h2 class="{{ styles.form.header.title }}" data-role="title">New Project</h2>
      <div class="{{ styles.form.header.controls }}" data-role="controls">
        {{ controls.help("create_project") }}
        {{ controls.close("projects") }}
      </div>
    </div>
    {% if current_user.access(AI.CREATE) %}{{ generate('project') }}{% endif %}
    <div data-role="attributes"
         data-entity="project"
         class="group-data-[mode=ai]/form:hidden">
      <h3 class="{{ styles.label.default }} mb-1.5">Project Features</h3>
      <div class="{{ styles.attributes.container }}">
        {% for attribute in attributes %}{{ attribute_button(attribute) }}{% endfor %}
      </div>
    </div>
    <div class="{{ styles.form.submit.group }} -mt-2" data-role="submit-group">
      {% if current_user.access(AI.CREATE) %}{{ explain_prompt('generate') }}{% endif %}
      <button type="submit" class="{{ styles.button.submit }} mt-2"></button>
    </div>
  </form>
{% endmacro %}

{% macro list(projects) %}
  <ul data-widget="HomeProjectList"
      data-route='{{ url_for("home.get", kind="projects") }}'
      data-visible="false"
      data-if-empty="{{ 'CreateProject' if Resource.PROJECT.allowed(Action.CREATE) else '' }}"
      class="{{ styles.home.card.list }}">
    {% for p in projects.list %}{{ project(p) }}{% endfor %}
    {% if projects.cursor or projects.back %}
      <div class="{{ styles.home.pagination.container }}">
        {% if projects.back %}
          <button class="{{ styles.home.pagination.button }} bg-project-bg/50"
                  lp-control="previous"
                  data-route='{{ url_for("home.get", kind="projects", cursor=None) }}'>
            {{ render_icon("start") }}
          </button>
        {% endif %}
        {% if projects.cursor %}
          <button class="{{ styles.home.pagination.button }} bg-project-bg/50"
                  lp-control="next"
                  data-route='{{ url_for("home.get", kind="projects", cursor=projects.cursor) }}'>
            {{ render_icon("next") }}
          </button>
        {% endif %}
      </div>
    {% endif %}
  </ul>
{% endmacro %}

{% macro project(p) %}
  <li lp-entity
      lp-link
      {% if p.ai_generated %}ai-generated{% endif %}
      data-key="{{ p.urlsafe_key }}"
      data-fingerprint="{{ p.fingerprint }}"
      data-name="{{ p.name }}"
      class="group/item cursor-pointer">
    <div class="{{ styles.home.card.item }}" data-role="header">
      <a class="{{ styles.link.title }}"
         data-role="title"
         href="{{ url_for('projects.view', key=p.urlsafe_key) }}">{{- p.name -}}</a>
      <div class="{{ styles.home.card.actions }}">
        {{ controls.star(is_starred(p)) }}
      </div>
    </div>
  </li>
{% endmacro %}
