{% from "common.html" import format_name %}
{% import 'controls.html' as controls %}

{% macro list(starred) %}
  <ul data-widget="StarredList"
      data-visible="false"
      data-route='{{ url_for("internal.get", kind="starred") }}'
      class="{{ styles.home.card.list }}">
    {% for item in starred.items %}
      {% if item.entity %}
        {{ starred_entity(item.entity) }}
      {% else %}
        {{ unavailable_starred_item(item) }}
      {% endif %}
    {% endfor %}
    {% if starred.cursor or starred.back %}
      <div class="{{ styles.home.pagination.container }}">
        {% if starred.back %}
          <button class="{{ styles.home.pagination.button }}"
                  lp-control="previous"
                  data-route='{{ url_for("internal.get", kind="starred", cursor=None) }}'>
            {{ render_icon("start") }}
          </button>
        {% endif %}
        {% if starred.cursor %}
          <button class="{{ styles.home.pagination.button }}"
                  lp-control="next"
                  data-route='{{ url_for("internal.get", kind="starred", cursor=starred.cursor) }}'>
            {{ render_icon("next") }}
          </button>
        {% endif %}
      </div>
    {% endif %}
  </ul>
{% endmacro %}

{% macro unavailable_starred_item(item) %}
  <li data-key="{{ item.key }}"
      data-role="unavailable-starred-item"
      data-state="{{ item.state }}">
    <div class="{{ styles.home.card.item }}">
      <div>{{ item.message }}</div>
      {{ controls.star(True) }}
    </div>
  </li>
{% endmacro %}

{% macro starred_entity(entity) %}
  <li data-key="{{ entity.urlsafe_key }}"
      data-fingerprint="{{ entity.fingerprint }}"
      lp-link
      lp-entity>
    <div class="{{ styles.home.card.item }}">
      <div>{{ format_name(entity.column('name').column_value) }}</div>
      {{ controls.star(True) }}
    </div>
  </li>
{% endmacro %}
