/* ==========================================================================
   STATE-DRIVEN VISIBILITY
   Used by widgets and dynamic UI
   ========================================================================== */

[data-visible="false"] {
	display: none;
}

table[data-visible="true"]:not(.hidden):not([hidden]) {
	display: table;
}

tbody[data-visible="true"]:not(.hidden):not([hidden]) {
	display: table-row-group;
}

thead[data-visible="true"]:not(.hidden):not([hidden]) {
	display: table-header-group;
}

td[data-visible="true"]:not(.hidden):not([hidden]) {
	display: table-cell;
}

tr[data-visible="true"]:not(.hidden):not([hidden]) {
	display: table-row;
}
