{% import 'controls.html' as controls %}

{% macro info_form(file) %}
  <form lp-update
        data-widget="FileInfo"
        data-title="File Info"
        data-name="{{ file.name }}"
        data-filename="{{ file.filename }}"
        data-mimetype="{{ file.mimetype }}"
        data-ai-create="{{ current_user.access(AI.CREATE)|yesno }}"
        data-has-text="{{ file.properties.text.value|yesno }}"
        data-extractable="{{ file.properties.text.extractable|yesno }}"
        {% if file.encoding %}data-encoding="{{ file.encoding }}"{% endif %}
        {% if file.options %}data-options='{{ file.properties.options.preload|tojson }}'{% endif %}
        {% if file.summary %}data-description="{{ file.summary }}"{% endif %}
        data-route="{{ url_for('files.update', key=file.urlsafe_key) }}"
        data-visible="false"
        class="{{ styles.form.default }} mt-4 sm:mt-0">
    {% if file.kind == 'file' and file.owner %}
      <div class="{{ styles.select.container }}"
           data-role="owner"
           data-readonly="{{ (not file.allowed(Action.EDIT))|yesno }}"
           lp-select
           data-preload='{{ [file.owner.reference_details]|tojson }}'>
        <h3 class="{{ styles.label.sectionHeading }}">Owner</h3>
        <input data-index="file-owner"
               data-placeholder="select a page or task..."
               name="owner-key"
               class="{{ styles.input }}">
        <input type="hidden" name="owner-control" value="true">
      </div>
    {% endif %}
    {{ controls.edited_marker(url_for('files.info', key=file.urlsafe_key)) }}
    <button type="submit" class="{{ styles.button.submit }}"></button>
  </form>
{% endmacro %}

{% macro info_tab(file) %}
  <div id="info"
       lp-component
       data-title="File Info"
       data-default="FileInfo"
       data-tab="true"
       data-visible="false"
       data-kind="file">{{ info_form(file) }}</div>
{% endmacro %}
